.carousel-img::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #1b1b1b, #21282e);
  opacity: 0.5;
}
.overlay::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #3a3a3a, #404b52);
  opacity: 0.3;
}
.city-overlay::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #000000, #000000);
  opacity: 0.6;
}

.column {
  margin: 15px 15px 0;
  padding: 0;
}
.column:last-child {
  padding-bottom: 60px;
}
.column::after {
  content: "";
  clear: both;
  display: block;
}
.column div {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  margin: 0 0 0 25px;
  padding: 0;
}
.column div:first-child {
  margin-left: 0;
}

figure {
  border-radius: 12px;
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.column span {
  position: absolute;
  bottom: 20px;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
figure .visit {
  position: absolute;
  top: 90%;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #444;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  transition: 0.3s ease-in-out;
  opacity: 0;
}
figure:hover span {
  position: absolute;
  bottom: 30px;
  opacity: 1;
  color: white;
}

.city-img figure:hover img {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loader {
  width: 30px;
  height: 50px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: auto;
  border-radius: 50% 50% 50% 50% / 25% 25% 25% 25%;
}
.loader::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  width: 3px;
  height: 2px;
  background: #fff;
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}
@keyframes scrollDown {
  0% {
    top: 40px;
    height: 2px;
    opacity: 1;
  }
  33% {
    top: 10px;
    height: 10px;
  }
  66% {
    top: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    top: 40px;
    height: 5px;
    opacity: 0;
  }
}

.food figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.food figure:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.food-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.cart-btn {
  padding: 10px 16px;
  border-radius: 5px;
  border: 1px solid orange;
  transition: 0.4s ease;
}
.cart-btn:hover span {
  display: none;
  transition: 0.4s ease;
}
.cart-btn:hover p {
  display: block;
  padding: 2px 31px;
  border-radius: 5px;
  font-size: 20px;
  transition: 0.4s ease;
}
